.markdown-viewer {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;

    h1 {
        text-align: center;
        font-size: 2.5rem;
        line-height: 2.25rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 15px;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.25rem;
        text-align: center;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 15px;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    h4 {
        margin-left: 1rem;
        margin-bottom: 1rem;
        margin-top: 2rem;

    }


    img {
        margin-left: auto;
        margin-right: auto;
        width:fit-content;
    }

    p {
        font-size: 1rem;
        line-height: 1.85rem;
    }
    
    a {
        color:rgb(131, 141, 252);
        text-decoration: underline;
    }

    a:hover {
        color: rgb(133, 224, 254);
    }

    blockquote {
        margin: 1em auto;
        padding: 1em;
        background-image: repeating-linear-gradient(-45deg, #4c4d50 0, #4c4d50 3px, transparent 3px, transparent 6px);
        text-align: center;
        border-left: 5px solid #ccc;
    }

    blockquote p {
        margin: 0; 
        color: #fffafa;
        font-size: 1.15rem;
        font-style: italic;
    }

    ul {
        list-style-type:circle;
        color:white;
        font-size:1.05rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
        line-height: 1.75rem;
    }

    code {
        font-size: 0.9rem;
        line-height: 1.35rem;
    }
}