.logo {
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: .3s;
}

.logo::before {
    content: "";
    width: 99%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(203 213 225 );
    transition: transform ease .3s;
    transform-origin: 99% 50%;
    transform: scaleX(0);
}

.logo:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
    transition: transform ease .3s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
}

.fixed-menu {
    z-index: 1000;
}